@value accent-color from '../../vars.module.css';
@value item-first-color from '../../vars.module.css';
@value item-second-color from '../../vars.module.css';
@value primary-color from '../../vars.module.css';
@value box-shadow from '../../vars.module.css';

.profile {
  display: block;
  margin-bottom: 20px;
  width: 270px;
  height: fit-content;
  background: primary-color;
  box-shadow: box-shadow;
  border-radius: 0px 0px 4px 5px;
}
.avatar {
  display: block;
  margin: 40px auto;
  border-radius: 50%;
  width: 100px;
}

.name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.tag {
  text-align: center;
  font-size: 15px;
  color: accent-color;
}
.location {
  margin-bottom: 40px;
  text-align: center;
  font-size: 15px;
  color: accent-color;
}
.stats {
  display: flex;
}
.stats__item {
  display: block;
  padding: 20px;
  width: 90px;
  border: 1px solid lightgrey;
  background: linear-gradient(item-first-color, 70%, item-second-color);
}
.label {
  display: block;
  margin-bottom: 8px;
  text-align: center;
  font-size: 12px;
  color: accent-color;
}
.quantity {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
