@value item-first-color from '../../vars.module.css';
@value item-second-color from '../../vars.module.css';
@value box-shadow from '../../vars.module.css';

.friendList {
  display: block;
  margin-bottom: 20px;
  min-width: 270px;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 14px 10px;
  height: fit-content;
  box-shadow: box-shadow;
  border-radius: 0px 0px 4px 5px;
  background: linear-gradient(item-first-color, 70%, item-second-color);
}

.status {
  display: block;
  margin-right: 16px;
  width: 14px;
  height: 14px;
  background-color: crimson;
  border-radius: 50%;
}

.isOnline {
  composes: status;
  background-color: teal;
}

.avatar {
  display: block;
  margin-right: 16px;
  width: 48px;
  height: 48px;
  align-items: center;
}

.name {
  margin: 0;
  font-size: 26px;
}
