@value primary-color from '../../vars.module.css';

.statistics {
  display: block;
  margin-bottom: 20px;
  width: fit-content;
  height: fit-content;
  background: primary-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 5px;
}
.title {
  display: block;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}
.list {
  display: flex;
}
.item {
  display: block;
  margin: 0 auto;
  padding: 8px;
  width: 60px;
  border: 1px solid lightgrey;
}
.label {
  display: block;
  margin: 0 auto 6px;
  text-align: center;
  font-size: 12px;
}
.percentage {
  display: block;
  margin: 0 auto;
  text-align: center;
}
